<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <header>
        {{ template "headerFragment" . }}

        <h3>Features</h3>
        <ul>
            {{ range .Features }}
            <li>{{.}}</li>
            {{ end }}
        </ul>
    </header>
    <main>
        {{ template "mainContentFragment" .}}
    </main>

    <footer>
        {{ template "footerFragment" .Name}}
        <ul>
            {{ range $key, $value := .Socials }}
            <li>{{$key}}: {{$value}}</li>
            {{ end }}
        </ul>
    </footer>
</body>

</html>