<html>
	<head>
		<title>Chat</title>
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

		<style>
			ul#messages {list-style:none;}
			ul#messages li  {margin-bottom: 2px;}
			ul#messages li img  {margin-right: 10px;}
		</style>
	</head>
	<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
 		<a style="color:white;font-weight:bold;font-style:italic;" href="#">
            Chat App
         </a>


        </div><!--/.nav-container -->
      </div><!--/.nav-inner -->
    </div>

		<div class="container" style="position:relative; top:50px;">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>Messages</h3>
					</div>
					<div class="panel-body">
						<ul id="messages"></ul>
					</div>
				</div>
			</div>
			<div class="row">
				<form id="chatbox" role="form">
					<div class="form-group">
						<label for="message">
							Send a message as {{.UserData.name}}
						</label>
						or <a href="/logout">Sign out</a>
						<textarea id="message" class="form-control"></textarea>
					</div>
					<input type="submit" value="Send" class="btn btn-default"/>
				</form>
			</div>
		</div>

		<script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
		<script>
			$(function () {
				var socket = null;
				var msgBox = $("#chatbox textarea");
				var messages = $("#messages");
				$("#chatbox").submit(function () {
					if (!msgBox.val()) return false;
					if (!socket) {
						alert("Error: There is no socket connection.");
						return false;
					}
					socket.send(JSON.stringify({"Message": msgBox.val()}));
					msgBox.val("");
					return false;
				});

				if (!window["WebSocket"]) {
					alert("Error Your browser does not support web sockets.");
				} else{
					socket = new WebSocket("ws://{{.Host}}/room");
					socket.onclose = function () {
						alert("Connection has been closed");
					}
					socket.onmessage = function (e) {
						var msg = eval("(" + e.data + ")");
						var messageDate = new Date(Date(msg.When))
						messages.append(
							$("<li>").append(
								$("<img>").attr("title",msg.Name).css({
									width:50,
									verticalAlign:"middle",
									"border-radius": "50%"
								}).attr("src",msg.AvatarURL),
								$("<span>").text("[" + messageDate.getHours() + ":" + messageDate.getMinutes() + ":" + messageDate.getSeconds()+ "]"),
								//$("<strong>").text(msg.Name + ": "),
								$("<span>").text(msg.Message)
								)
						);
					}
				}
			});
		</script>
	</body>
</html>
