<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<div class="container">
	<div class="page-header">
		<h1>Sign in</h1>
	</div>
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h3 class="panel-title">In order to chat, you must sign in</h3>
		</div>
		<div class="panel-body">
			Select the service you would like to sign in with:
			<ul>
				<li>
					Facebook
					<!--<a href="/auth/login/facebook">Facebook</a>-->
				</li>
				<li>
					Github
					<!--<a href="/auth/login/github">Github</a>-->
				</li>
				<li>
					<a href="/auth/login/google">Google</a>
				</li>
			</ul>
		</div>
	</div>
</div>
</html>