{{template "base" .}}

{{define "content"}}

<img src="/static/home-page/puppies.jpg" class="img img-fluid" alt="puppies">

<div class="container">
    <div class="row">
	<div class="col">
	    <h3 class="mt-4">Go Find a Pet!</h3>
	</div>
    </div>
</div>
{{end}}