{{define "adminFooter"}}

<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Your Website 2024</div>
            <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>
</div>

<!-- End main section -->
</div>

<div class="loading-indicator htmx-indicator" id="loadingIndicator">
    <div class="loading-text">Processing...</div>
</div>

</body>
</html>

{{end}}
