<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content=type" content="text/html; charset=utf-8">
<title>{{.Title}}</title>
<style>
 h1 { color: blue; }
 h2 { color: green; }

</style>
</head>
<body>
{{.Body}}
</body>
</html>