<div class="create-account-view">
  <header data-dojo-type="dojox/mobile/Heading">
    Accounts
    <button data-dojo-type="dojox/mobile/ToolBarButton">
      Logout
    </button>
  </header>
  <ul data-dojo-type="dojox/mobile/EdgeToEdgeList"
    data-dojo-props="select:''"
    data-dojo-attach-point="list">

  </ul>
  <footer>
    <div>
      <button data-dojo-type="dojox/mobile/Button"
        data-dojo-attach-event="onClick:navtoTransfer">
        Transfers
      </button>
    </div>
    <div>
      <button data-dojo-type="dojox/mobile/Button">
        Pay Bills
      </button>
    </div>
    <div>
      <button data-dojo-type="dojox/mobile/Button">
        Locations
      </button>
    </div>
  </footer>
</div>
