<div class="create-account-view">
  <header data-dojo-type="dojox/mobile/Heading">
    Accounts
    <button data-dojo-type="dojox/mobile/ToolBarButton">
      Logout
    </button>
  </header>
  <ul data-dojo-type="dojox/mobile/EdgeToEdgeList"
    data-dojo-props="select:''">
    <li data-dojo-type="dojox/mobile/ListItem"
      data-dojo-props="moveTo:'accounts1'">
      Checking ... 1234
      <span class="float-right">$583.69</span>
    </li>
    <li data-dojo-type="dojox/mobile/ListItem"
      data-dojo-props="moveTo:'accounts2'">
      Savings ... 5555
      <span class="float-right">$1000.00</span>
    </li>
  </ul>
  <footer>
    <div>
      <button data-dojo-type="dojox/mobile/Button"
        data-dojo-attach-event="onClick:navtoTransfer">
        Transfers
      </button>
    </div>
    <div>
      <button data-dojo-type="dojox/mobile/Button">
        Pay Bills
      </button>
    </div>
    <div>
      <button data-dojo-type="dojox/mobile/Button">
        Locations
      </button>
    </div>
  </footer>
</div>
