<div class="create-account-view">
  <header data-dojo-type="dojox/mobile/Heading"
    data-dojo-props="back:'Home', href:'/public'">
    Create Account
  </header>
  <form action="">
    <label for="accountNumber">Account or credit card number</label>
    <input type="text" id="accountNumber" data-dojo-type="dojox/mobile/TextBox">
    <label for="pin">Account PIN number</label>
    <input type="password" id="pin" data-dojo-type="dojox/mobile/TextBox">
    <label for="pin">Last 4 digits of SSN</label>
    <input type="password" id="ssn" data-dojo-type="dojox/mobile/TextBox">

    <button type="submit" data-dojo-type="dojox/mobile/Button">
      Continue
    </button>
  </form>
</div>
