<div class="create-account-view">
  <header data-dojo-type="dojox/mobile/Heading">
    Accounts
    <button data-dojo-type="dojox/mobile/ToolBarButton">
      Logout
    </button>
  </header>
  <form action=""
          data-dojo-type="dijit/form/Form"
          data-dojo-attach-point="form"
          >
    <label for="from">From</label>
    <select data-dojo-type="dijit/form/DataList"
      data-dojo-props='id:"fromAccounts"'>
      <option selected>Checking ... 1234</option>
      <option>Savings ... 5555</option>
    </select>
    <input type="text" name="from" data-dojo-type="dojox/mobile/ComboBox"
      data-dojo-props='list:"fromAccounts"'>

    <label for="to">To</label>
    <select data-dojo-type="dijit/form/DataList"
      data-dojo-props='id:"toAccounts"'>
      <option>Checking ... 1234</option>
      <option selected>Savings ... 5555</option>
    </select>
    <input type="text" name="to" data-dojo-type="dojox/mobile/ComboBox"
      data-dojo-props='list:"toAccounts"'>

    <label for="amount">Amount</label>
    <input type="text" name="amount" data-dojo-type="dojox/mobile/TextBox">

    <button type="submit" data-dojo-type="dojox/mobile/Button">
      Transfer
    </button>
  </form>
</div>
