<div class="container">
    <div class="welcome">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Welcome to the Serverless Notes App</h5>
                <p class="card-text">Sign in with your Google Account to continue.</p>

                <button type="button" class="btn btn-primary btn-block" (click)="onSignIn()">
                    <i class="fab fa-google"></i>
                    <span class="button-text">Sign in</span>
                </button>
            </div>
        </div>
    </div>
</div>