<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Adding Bootstrap to Gofiber App</title>
	<link rel="stylesheet" href="/dist/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h3>Adding Bootstrap css</h3>
	</div>
	<div class="container-fluid py-5">
		<h1 class="display-5 fw-bold">Custom jumbotron</h1>
		<p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
		<button class="btn btn-primary btn-lg" type="button">Example button</button>
	      </div>
	<div>
		<p>{{ .message }}</p>
	</div>
	<scrip src="/dist/js/bootstrap.min.js" />
</body>
</html>