<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NLP Web App</title>
	<link rel="stylesheet" href="/dist/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Sentiment APP</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/api">API</a>
				</li>
			</ul>
			</div>
		</div>
	</nav>
	<main class="container">
		<div class="bg-light p-5 rounded">
			<h3>{{ .initMessage }}</h3>
			<a class="btn btn-lg btn-primary" href="/" role="button">Refresh</a>
		</div>
	
	</main>

		<div>
			<form class="form-control" action="/" method="POST">
				<div class="mb-3">
					<label for="Textarea"  class="form-label" >Message</label>
					<textarea id="Textarea" class="form-control" type="text" name="message">
					</textarea>
				</div>
				<div class="mb-3">
					<button class="btn btn-primary" type="reset">Reset</button>
					<button class="btn btn-success" type="submit">Submit</button>
				</div>

			</form>
		</div>
		<hr/>
		<br/>
		<div>
			<h4>Original Message</h4>
			<p>{{ .message }}</p>
		</div>
		<hr/>
		<div>
			<h4>Sentiment Score</h4>
			<div class="alert alert-primary" role="alert">
				<p>Positive: {{ .sentimentDetails.Positive }} </p>
			</div>
			<div class="alert alert-primary" role="alert">
				<p>Negative: {{ .sentimentDetails.Negative }} </p>
			</div>
			<div class="alert alert-primary" role="alert">
				<p>Neutral: {{ .sentimentDetails.Neutral }} </p>
			</div>
			<div class="alert alert-primary" role="alert">
				<p>Compound: {{ .sentimentDetails.Compound }} </p>
			</div>
		</div>

		<hr/>
		<scrip src="/dist/js/bootstrap.min.js" />
</body>
</html>