<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NLP Web App</title>
</head>
<body>
	<div>
		<h3>Sentiment Analysis Web App with Go</h3>
	</div>

		<div>
			<form action="/" method="POST">
				<div>
					<label>Message</label>
					<textarea type="text" name="message">
					</textarea>
				</div>
				<div>
					<button type="reset">Reset</button>
					<button type="submit">Submit</button>
				</div>

			</form>
		</div>
		<hr/>
		<br/>
		<div>
			<h4>Original Message</h4>
			<p>{{ .message }}</p>
		</div>
	
</body>
</html>