<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>API Interface</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script sr="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="style.css">
        <script src="script.js"> </script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12-lg">
                    <h1>API Interface</h1>
                </div>
            </div>
        </div>
    </body>
</html>