go 1.24.4

use ./code/ultimate-go-debugging/day-1/cmds/debug/basic

use ./code/ultimate-go-debugging/day-1/cmds/debug/user-input

use (
	./code/ultimate-go-debugging/containers
	./code/ultimate-go-debugging/day-1/cmds/test/trie
	./code/ultimate-go-debugging/json-rpc-api
	./code/ultimate-go-debugging/json-rpc-api/testprog
	./code/ultimate-go-debugging/profiling/gotest/trie
	./code/ultimate-go-debugging/profiling/live
	./code/ultimate-go-debugging/rr
	./code/ultimate-go-debugging/scripting
)
