go 1.21.0

use (
	./excercise-1
	./excercise-10-1
	./excercise-10-2
	./excercise-11-1
	./excercise-3-1
	./excercise-3-2
	./excercise-5-1
	./excercise-6-1
	./excercise-7-1
	./excercise-9-1
	./go-on-aws-source/aws-go-sdk-v2/ec2/listinstances
	// ./go-on-aws-source/go-the-language/modules/simple
	// ./go-on-aws-source/go-the-language/modules/nested
	./go-on-aws-source/aws-go-sdk-v2/dynamodb/crud/go/create-table
	./go-on-aws-source/aws-go-sdk-v2/dynamodb/crud/go/read-struct
	./go-on-aws-source/aws-go-sdk-v2/listbuckets
	./go-on-aws-source/aws-go-sdk-v2/assume-role
	//./go-on-aws-source/infrastructure-as-go/cdk-go/cdktable-init
	./cdktable
	./go-on-aws-source/lambda-go/lambda-cdk/hello-world/app
	./go-on-aws-source/lambda-go/lambda-cdk/hello-world/infra
	./excercise-15-1/app
	./excercise-15-1/infra
)
