<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Going Wide Blog</title>
    <link rel="stylesheet" href="/public/css/site.css">
  </head>
  <body>
    <header>
      <h1>Extra Large</h1>
      <h2><em>Share All of You</em></h2>
    </header>
    <div>
      <div class="sidebar">
        {{template "sidebar" .}}
      </div>
      <div class="content">
        {{range .posts}}
          <section class="post">
            <h2>
              <a href="/posts/{{.ID}}">{{.Subject}}</a>
              <em>{{.Author.Username}} - {{.PublishDate.Format "Jan-2-2006" }}</em>
            </h2>
            <p>
              {{.Body}}
            </p>
          </section>
        {{end}}
      </div>
    </div>
  </body>
</html>
