.login-view {
  height: 100%;

  .mblHeading {
    margin-bottom: 3rem;
  }

  label {
    margin: 0 0.5rem;
  }

  button[type=submit] {
    position: absolute;
    bottom: 2rem;
    left: 10%;
  }
}
